body{  
    background-image: url(../imagen/fondoF06.jpg);
     -webkit-background-size: cover;
     background-size: cover;
     background-attachment: fixed;
      font-family: Roboto;
 }  
   .centro1{
    text-align: center;
    color: #0d0e0e;
    height: 170px;
    padding: 15px;
   /* background-image: url("../imagen/fondo.jpg") ;*/
  }
  /*
  .z{
    color: #fff;
}*/