*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{

  background-image: url(../imagen/fondoF06.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  font-family: Roboto;

}

.centro1{
   
    text-align: center;
    color: #faf8f8;
    margin: 80px auto;
    height: 300px;
    padding: 5px;

   /* background-image: url("../imagen/bg-tarjeta-02.jpg") ;*/
  }