/* Estilo de index y regitrarse*/
/**/
.z{
    text-align: center;
   
}

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.btn_btn-link{
    color: #79fd0d;

}
    
body{
   
   background-image: url(../imagen/fondoF06.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  font-family: Roboto;

}  
.contenedor-from{
    position: relative;
    background: rgba(38, 41, 46, 0.226);
    width: 45%;
    max-width: 500%;
    margin: 18px auto;
    color: #fff;
    border-radius: 5px;

    padding: 40px;

}
.contenedor-from .toggle {
   padding: absolute;
   text-align: right;
   top: 7px;
   right: 20px;
   width: 110px;
   /* lineas de ariba*/
   height: 30px;
   font-size: 20px;
   line-height: 20px;
   text-align: center;
   border-top: 2px solid #79fd0d;
   border-bottom: 2px solid #79fd0d;
   transition: all .5s ease;
   cursor: pointer;
   
}
.contenedor-from .toggle span{
    letter-spacing: 1px;
}
.contenedor-from .toggle:hover{
    border-top: 2px solid #0075d9;
    border-bottom: 2px solid #0075d9;
}
.contenedor-from h2{
    margin: 0 0 28px 0;
    font-size:20px;
    font-weight: 400;
    line-height: 1;
}
.contenedor-from input[type="text"],
.contenedor-from input[type="password"],
.contenedor-from input[type="emil"]{

    outline: none;
    background:rgb(168, 236, 236) ;
    display: block;
    width: 100%;
    padding: 10px 15px;
    color: #fff;
    border: none;
    border-radius: 2px;
    border-bottom: 2px solid #79fd0d;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 20px 0;
    transition: all .5s ease;

}
.contenedor-from input[type="text"],
.contenedor-from input[type="password"],
.contenedor-from input[type="emil"]{

    border-top: 2px solid #79fd0d;
    border-bottom: 4px solid #0075d9 ;
}
.contenedor-from input[type="submit"]{
    background: #80f169;
    color: rgb(6, 62, 248);
    border: none;
    width: 100%;
    padding: 15px 0;
    font-family: Roboto;
    letter-spacing: 1px;
    font-size: 16xp;
    cursor: pointer;
    transition: all .5s ease;
}
.contenedor-from input[type="submit"].hover{
    background: rgb(0, 117, 217,0.7);
}
.contenedor-from .reset-password{
    background: rgb(0, 117, 217,0.7);
    width: 100%;
    padding: 15px 0 ;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.contenedor-from .reset-password a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.contenedor-from .formulario{
    padding: 40px;
    direction: none;
}
.contenedor-from .formulario:nth-child(2){
    display: block;
}

 
