#cargando {
    display: none;
}

body{  
    background-image: url(../imagen/fondoF06.jpg);
     -webkit-background-size: cover;
     background-size: cover;
     background-attachment: fixed;
      font-family: Roboto;
 } 

  .contenedor-from{
    
    position: relative;
    background: rgba(85, 205, 235, 0.438);
    width: 65%;
    max-width: 100%;
    margin: 90px auto;
    color: #fff;
    border-radius: 5px;

    padding: 40px;

}.contenedor-from h2{
    margin: 0 0 28px 0;
    font-size: 50px;
    font-weight: 400;
    line-height: 1;
    color: rgb(11, 12, 12);
}
.z{
    color: #fff;
}

