/*---------------------------------------------------*/
/* Estilo dePerfil*/
/**/
body{
    background-image: url(../imagen/fondoF06.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    font-family: Roboto;

}
.centro{
    text-align: center;
    height: 300px;
    padding: 12px;
    background-image: url("../imagen/fondo.jpg") ;
  }
  .centro1{
    text-align: center;
    color: #00FFFF;
    height: 155px;
    padding: 5px;
    background-image: url("../imagen/fondo.jpg") ;
  }
  .titulo{
   font-family: Roboto;
   font-size: 20px;
   font-size: 60px;
   text-align: center;
   }
  
  .imagen{
    width: 200px;
    height: 200px;
    border-radius: 50px;
  }
  .usuario{
    font-size:18px;
    margin-top: 14px;
    color:aqua;
  }
  .redsocial{
    list-style: none;
    text-align: center;
    padding: 0;
  }
  .redsocial li{
    display: inline-block;
    margin: 5px;
  }

  .a:hover{
    color:  rgb(119, 177, 212);
  }
  /*.icono{
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: cover;
  }
  .email{
    background-image: url("img/gmail.jpg");
  }
  .face{
    background-image: url("img/face.jpg");
  }
  .inta{
    background-image: url("img/inta.jpg");
  }*/
 .abust {
   padding: 10xp;
 }
 .abust h3{
   color: rgb(4, 250, 238);
   font-size: 16xp;
 }
 .abust p{
   color: rgb(11, 130, 248);
   font-size: 14xp;
 }