.body{
    background-color: #F5DEB3;
}

.z{
    text-align: center;
    color: #00FFFF;
    font-size: 50px;
    font-family:monospace;
  }
.z1{
  text-align: center;
}
.a1{
  text-decoration:  none;
  color: rgb(247, 235, 235);
  box-shadow: 0px 0px 12px aqua;
}

.a2{
  text-decoration:  none;
  color: rgb(14, 13, 13);
  /*text-align: center;*/
  font-size: 21px;
}

.a3{
  text-decoration:  none;
  color: rgb(247, 6, 6);
  
}
.a4{
  text-decoration:  none;
  color: rgb(5, 84, 255);
}
.a5{
  text-decoration:  none;
  color: rgb(7, 9, 141);
   
}

     



